h1{
	background-color:	#808080;
	color:#FFA500;
}
p{
	background-color:#00FF00;
	
}
h2{
	background-color:#FF8C00;
	color:#9400D3;
}
ol{
	background-color:	#FFA500;
}
a:link{
	background-color:#808080;
	color:#FF8C00;
}
.plava{
	background-color:#0000FF;
}
.zelena{
	background-color:#00FF00;
	
}
